<section class="dictionaries" [formGroup]="dictionariesForm">
  <nz-select
    nzShowSearch
    nzPlaceHolder="Выберите словарь"
    formControlName="dictionary"
  >
    <nz-option
      *ngFor="let item of dictionaries$ | async"
      [nzLabel]="item.name"
      [nzValue]="item.id"
    ></nz-option
  ></nz-select>
  <span
    nz-icon
    nzType="file-add"
    nzTheme="outline"
    (click)="onAddDictionary()"
  ></span>
  <span
    nz-icon
    nzType="edit"
    nzTheme="outline"
    (click)="onEditDictionary()"
  ></span>
  <span
    class="delete"
    nz-icon
    nzType="delete"
    nzTheme="outline"
    (click)="onDeleteDictionary()"
  ></span>
</section>

<section class="words-header" [formGroup]="wordsForm">
  <div class="subsection">
    <h2>Слова</h2>
    <nz-input-group [nzPrefix]="suffixIconSearch">
      <input nz-input placeholder="Поиск" formControlName="search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span class="search" nz-icon nzType="search"></span>
    </ng-template>

    <nz-select
      class="word-sort"
      nzShowSearch
      nzPlaceHolder="Выберите сортировку"
      formControlName="sort"
    >
      <nz-option
        *ngFor="let item of sortOptions"
        [nzLabel]="item.name"
        [nzValue]="item.id"
      ></nz-option
    ></nz-select>
  </div>

  <div class="subsection">
    <span nz-icon nzType="plus" nzTheme="outline" (click)="onAddWord()"></span>
    <span nz-icon nzType="edit" nzTheme="outline" (click)="onEditWord()"></span>
    <span
      class="delete"
      nz-icon
      nzType="delete"
      nzTheme="outline"
      (click)="onDeleteWord()"
    ></span>
  </div>
</section>

<nz-table
  *ngIf="words$ | async as words"
  #wordsTable
  [nzData]="words"
  [nzFrontPagination]="false"
  [nzScroll]="{ y: '560px' }"
  [nzVirtualItemSize]="25"
  [nzVirtualForTrackBy]="trackByIndex"
>
  <thead>
    <tr>
      <th nzWidth="220px">Слово</th>
      <th>Определение</th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr
        [class.selected]="selectedRow === data.id"
        (click)="onRowClick(data.id)"
      >
        <td nzWidth="220px">{{ data.name }}</td>
        <td>{{ data.definition }}</td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
