<ng-container [formGroup]="form">
  <input nz-input placeholder="Название" formControlName="name" />
  <nz-select
    nzShowSearch
    nzPlaceHolder="Выберите тему"
    formControlName="themeId"
  >
    <nz-option
      *ngFor="let item of themes"
      [nzLabel]="item.name"
      [nzValue]="item.id"
    ></nz-option
  ></nz-select>
  <nz-select
    nzShowSearch
    nzPlaceHolder="Выберите словарь"
    formControlName="dictionaryId"
  >
    <nz-option
      *ngFor="let item of dictionaries"
      [nzLabel]="item.name"
      [nzValue]="item.id"
    ></nz-option
  ></nz-select>
  <div class="dimensions" formGroupName="size">
    <nz-input-number
      formControlName="width"
      nzPlaceHolder="Ширина"
      [nzMin]="10"
      [nzMax]="20"
      [nzStep]="1"
    ></nz-input-number>
    <span>X</span>
    <nz-input-number
      formControlName="height"
      nzPlaceHolder="Высота"
      [nzMin]="10"
      [nzMax]="20"
      [nzStep]="1"
    ></nz-input-number>
  </div>
  <nz-input-number
    *ngIf="crossword"
    formControlName="promptCount"
    nzPlaceHolder="Подсказки"
    [nzMin]="0"
    [nzMax]="maxPromptCount"
    [nzStep]="1"
  ></nz-input-number>
</ng-container>
