:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.themes {
  display: flex;
  align-items: center;
  gap: 16px;
}

nz-select {
  width: 200px;
}

span[nz-icon] {
  font-size: 24px;
  color: var(--cw-gray);
  cursor: pointer;
  transition: all 0.3s;

  &.search {
    font-size: 16px;
    pointer-events: none;
  }

  &.delete:hover {
    color: red;
  }

  &:hover {
    color: var(--cw-primary);
  }
}

.crossword-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  margin-top: 16px;

  h2 {
    margin: 0;
  }

  nz-input-group {
    width: 166px;
  }

  .subsection {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.selected-crossword {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-top: 16px;

  p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  span {
    font-weight: 400;
  }

  .crossword-buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: auto;
  }
}

.crossword-content {
  overflow: auto;
  margin-top: 16px;
}

nz-table.crossword-table {
  td {
    padding: 4px;
    height: 31px;
  }

  // tr:hover td {
  //   background-color: inherit;
  // }

  td.selected {
    background-color: #44a4ff !important;
  }

  td.selected-potential:hover {
    cursor: pointer;
    background-color: #b1daff;
  }
}
